langchain
langchain-core
langchain-community

langchain-openai
openai

langchain-mistralai
mistralai

chromadb

sentence-transformers

pypdf
python-docx

langchain-text-splitters

python-dotenv

streamlit

tiktoken

pandas

requests

loguru